<footer class="max-w-screen-xl mx-auto p-2 px-2 py-8 prose prose-lg md:prose-xl text-center leading-tight">
  <p>You can contact me via email: <strong>dorian[dot]niemiec[at]svrjs[dot]org</strong> or <strong>dorian[dot]niemiec[at]zohomail[dot]eu</strong></p>
  <p>You can also visit <a href="https://github.com/DorianNiemiecSVRJS">my GitHub profile</a> or <a href="https://x.com/JaDorianNiemiec">my X (Twitter) profile</a>.</p>
  <p>Copyright © Dorian Niemiec</p>
</footer>