---
import { faGithub, faXTwitter } from "@fortawesome/free-brands-svg-icons";
import FontAwesomeIcon from "./FontAwesomeIcon.astro";
---

<footer class="bg-secondary text-secondary-foreground skewed-top">
  <div
    class="max-w-screen-xl w-full mx-auto flex flex-col md:flex-row md:justify-between items-center px-4 py-2 md:py-4 gap-2"
  >
    <p class="text-center md:text-start">
      <strong>Email:</strong> dorian.niemiec@zohomail.eu<br />
      Copyright &copy; Dorian Niemiec
    </p>
    <div class="flex flex-row gap-3">
      <a
        href="https://x.com/JaDorianNiemiec"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-secondary-foreground/75 transition-colors"
      >
        <FontAwesomeIcon icon={faXTwitter} class="!w-8 !h-8" />
      </a><a
        href="https://github.com/DorianNiemiecSVRJS"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-secondary-foreground/75 transition-colors"
      >
        <FontAwesomeIcon icon={faGithub} class="!w-8 !h-8" />
      </a>
    </div>
  </div>
</footer>
