<header class="max-w-screen-xl mx-auto p-2 flex">
  <a href="/" class="font-bold text-xl md:text-2xl self-center">Dorian Niemiec</a>
  <nav class="hidden sm:block grow self-center">
    <ul class="flex mx-2.5">
      <li class="mx-0.5"><a href="/#projects" class="text-base md:text-lg px-2 py-1 hover:bg-accent hover:text-accent-foreground rounded-md transition-colors">Projects</a></li>
    </ul>
  </nav>
</header>