---
import { Image } from "astro:assets";
import ProfileImage from "../assets/profilepicture.png";
---

<section class="container">
  <div class="flex flex-col md:flex-row pt-12 pb-16 md:pt-16 md:items-center gap-12 md:gap-0">
    <div class="w-full md:w-7/12 text-center md:text-start md:py-4 lg:py-16">
      <h1 class="text-5xl lg:text-6xl leading-tight font-bold">
        Hello, I&rsquo;m Dorian Niemiec! 👋
      </h1>
      <p class="text-muted-foreground md:text-lg my-4">
        I&rsquo;m an IT person from Poland &mdash; I can do system
        administration, web and software development. I can also do a little bit
        of graphics design.
      </p>
      <div
        class="flex md:inline-flex flex-col sm:flex-row mt-4 justify-center max-w-96 sm:max-w-none mx-auto gap-2"
      >
        <a
          href="mailto:dorian.niemiec@zohomail.eu"
          class="bg-primary text-primary-foreground hover:bg-primary/80 transition-colors font-semibold rounded-md px-6 py-2 inline-block text-center"
          >Get in touch</a
        >
      </div>
    </div>
    <div
      class="w-full md:w-5/12 md:ps-4 lg:px-16 max-w-80 md:max-w-none mx-auto"
    >
      <Image
        src={ProfileImage}
        width={400}
        height={400}
        alt="Dorian Niemiec"
        class="rounded-full w-full aspect-square mx-auto md:mx-0 border-4"
      />
    </div>
  </div>
</section>
