---
import FontAwesomeIcon from "./FontAwesomeIcon.astro";
const Icon = Astro.props.icon;
---

<li class="flex">
  {
    Astro.props.faIcon ? (
      <FontAwesomeIcon
        icon={Astro.props.faIcon}
        class="!w-8 md:!w-10 !h-auto me-4 self-center"
      />
    ) : (
      <Icon class="!w-8 md:!w-10 !h-auto me-4 self-center" />
    )
  }
  <span class="inline-block leading-none self-center font-medium"
    >{Astro.props.name}</span
  >
</li>
